<body>
  <nav>
    <div><a href="/">Home</a><a href="/dashboard">Dashboard</a>
      {{#if loggedIn}}
        <a href="/Log-Out">Log Out</a>
      {{else}}
        <a href="/Log-Out">Log Out</a>
        <a href="/login">Login</a>
      {{/if}}
    </div>
    <div><h1>The Tech Blog</h1></div>
  </nav>
  <main><footer><button type="button" class="btn btn-primary btn-lg">Log Out</button></footer></main>

</body>