

  <main>
    <form>
      
      <h1 class="h3 mb-3 fw-normal">Log In</h1>

      <div class="form-floating" style="margin-bottom: 20px;">
        <input
          type="Username"
          class="form-control"
          id="floatingInput"
          placeholder="Username"
        />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating" style="margin-bottom: 15px">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <a href="/Sign-Up">Sign Up Instead</a>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="button" id="log-in">Log In</button>
      <p class="mt-5 mb-3 text-muted">
    </form>
   </main>
